@import "../../../../styles/variables.scss";

.postit-sect {
    position: relative;
    margin-bottom: 2rem;

    .postit-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem 0.5rem;
        margin-left: 0.5rem;
        justify-content: center;
        align-items:flex-start;

    }

    .expanded-postit {
        position: absolute;
        z-index: 20;
        top:1;
    }





}