@import "../../../styles//variables.scss";

.logOutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    gap: 0.313rem;
    color: $light-gray;
}