@import "../../../styles/variables.scss";

.boards {
    h1 {
        color: $dark-blue;
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 600;
        margin-bottom: 4.375rem;
        text-align: center;
    }

    .tags {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
}

@media (min-width: 1024px)  {

    .boards {
        padding-right: 5rem;
        border-right: 1px solid $light-gray;
    }
}