@import "../../styles/variables.scss";

.board {
    width: 100%;
    padding: 0.25rem 1rem 1rem 1rem;
    border-top-left-radius: 0.744rem;
    border-top-right-radius: 0.744rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: z-index 0.5s;
    margin-top: -1rem;
    

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        padding-bottom: 0.5rem;
    }

    &.expand {
        width: 100%;

    }

    &.perano {
        background-color: $perano;
    }

    &.green {
        background-color: $green-brut;
    }

    &.rose {
        background-color: $rose-bud;
    }

    &.wheat {
        background-color: $wheat;
    }

    &.open {
        width: 107%;
        background: white;
        min-height: 30rem;
        z-index: 11;
        position: absolute;
        border-radius: 0.744rem;
        margin: 0.5rem -1.2rem;
        padding-bottom: 0.5rem;
        left: 0.6rem;
        top: -9.50rem;
        transition: position 1s;

        .postits-exp {
            margin-left: -0.5rem;
            margin-top: 1rem;
        }

        &.perano {
            border: solid 5px $perano;
        }

        &.green {
            border: solid 5px $green-brut;
        }

        &.rose {
            border: solid 5px $rose-bud;
        }

        &.wheat {
            border: solid 5px $wheat;
        }
    }
}

@media (min-width: 830px) {
    .board {
        width: 80%;

        &.open {
            width: 82%;
            margin: 0.9rem 4rem;
        }

    }

}


@media (min-width: 1024px) {
    .board {
        width: 130%;

        &.open {
            width: 150%;
            margin: 0.5rem -5rem;

        }

    }

}