@import "../../../styles/variables.scss";


.colorButton {
    height: 1.125rem;
    width: 1.125rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &.rose {
        background-color: $rose-bud;
    }

    &.perano {
        background-color: $perano;
    }

    &.green {
        background-color: $green-brut;
    }

    &.wheat {
        background-color: $wheat;
    }
}