@import "../../../styles/variables.scss";

.post-it-container{
    width: 9.375rem;
    height: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 22px;
    background-color: $rose-bud;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    gap: 8px;

    &.wheat{
        background-color: $wheat;
    }

    &.green-brut{
        background-color: $green-brut;
    }

    &.perano{
        background-color: $perano;
    }

    &_icon{
        align-self: flex-end;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
}