@import "../../styles/variables.scss";

.post-it-container{
    width: 9rem;
    height: auto;
    padding: 1.6rem 1rem 1rem 1rem;
    border-radius: 1.375rem;
    background-color: $rose-bud;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 18rem;
    gap: 0.2rem;
    overflow: hidden;

    h6, p {
        margin: 0;
        overflow-wrap: break-word; // Ensures long words break within the box
        word-break: break-word;     // Allows for long strings to break
        white-space: normal;        // Allows line wrapping
    }

    p {
        color: $dark-gray;
    }

    &.wheat{
        background-color: $wheat;
    }

    &.green{
        background-color: $green-brut;
    }

    &.perano{
        background-color: $perano;
    }

    &_icon{
        align-self: flex-end;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    code {
        font-family: $font-fira;
        display: flex;
        background-color: #f4f4f4;
        padding: 0.2rem;
        border-radius: 1rem;
    }
}

@media (min-width: 634px) {
    .post-it-container {
        width: 11rem;
    }
}

