@import "../../../styles/variables.scss";

.label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    background-color: $wheat;
    border-radius: 0.3rem;
    width: 6rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    p {
        @include short-paragraph($dark-gray);
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        max-width: 90%;
    }

    &.rose {
        background-color: $rose-bud;
    }

    &.perano {
        background-color: $perano;
    }

    &.green {
        background-color: $green-brut;
    }

    &.wheat {
        background-color: $wheat;
    }
}