@import "../../../styles/variables.scss";

.postit-sect {
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    overflow-y: auto;


    .postit-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem 0.5rem;
        margin-left: 0.5rem;
        justify-content: center;
        align-items:flex-start;
        height: auto;

        .create-postit-btn {
            grid-column: 2 / span 1;
        }

        p {
            color: $dark-gray;
            margin-top: 1rem;
        }

    }

    .expanded-postit {
        position: absolute;
        z-index: 20;
        top:1;
        overflow: hidden;
        overflow-y: auto;
        padding: 0.6rem;
        margin: auto;
        height: auto;
        
    }


}

@media (min-width: 600px) {
    .postit-sect {
        position: relative;
        margin-bottom: 2rem;
    
        .postit-cont {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem 0.5rem;
            margin-left: 0.5rem;
            justify-content: space-evenly;
            align-items:flex-start;
    
        }
    
        .expanded-postit {
            position: absolute;
            z-index: 20;
            top:1;
        }

        .create-postit-btn {
            grid-row: 3 / span 1;
            grid-column: 3 / span 1;
        }
    
    }
}

@media (min-width: 1024px) {
    .postit-sect {
        position: relative;
        margin-bottom: 2rem;
    
        .postit-cont {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem 0.5rem;
            margin-left: 0.5rem;
            justify-content: space-evenly;
            align-items:flex-start;
    
        }
    
        .expanded-postit {
            position: absolute;
            z-index: 20;
            top:1;
        }

        .create-postit-btn {
            grid-column: 2 / span 1;
    }
    }
}