@import "../../../styles/variables.scss";

.today-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.8rem;

    .month-year {
        width: auto;
        height: 1.313rem;
        background-color: $dark-blue;
        color: $light-blue;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center;
        padding: 0.4rem;

        p {
            color: $light-blue;
            font-family: $font-karla;
            font-size: 0.89rem;
        }
    }

    .today-date {
        width: 7.875rem;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        p {
            color: $dark-blue;
        }
    }

}