@import "../styles/variables.scss";

.overlay {
    &.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; 
        background-color: $white-cream;
        z-index: 10;
    }
    &.closed {
        opacity: 0;
    }

    @media (min-width: 1024px) {
        display: none;
    }
}
